:root {
  //colors------------------------
  --nero: #272121;
  --white: #ffffff;
  --mischka: #9ca3af;
  --Violent-Violet: #240b48;
  --soft-blue: #4f46e5;
  --light-grayish-blue: #d1d5db;
  --bright-red: #ef4444;
  --blackcurrant: #190733;

  //font weight--------------------
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 700;
  --bold2: 800;
}
